.custom-box {
    background-color: hsl(171, 100%, 41%);
    color: #ffffff;
  }

.custom-box:hover {
    background-color: hsl(171, 98%, 30%);
    cursor: pointer;
}

.custom-header {
  background-color: hsl(171, 100%, 41%);
  color: #ffffff;
  padding: 1rem;
}